body {
  font-family: arial, sans-serif;
}

.Weather {
  border: 1px solid #dadde1;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: #878787;
  color: rgb(135, 135, 135);
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 100;

  line-height: 28.8px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.search {
  width: 50px;
  padding: 0;
  margin: 0;
}
